@import './base.css';

#app {
  max-width: 100%;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
